body, h1, h2, h3, h4 {
  font-weight: 300;
  font-family: 'Lato';
  font-style: normal;
}

h1 {
  font-size: 31;
}

h2 {
  font-size: 25;
}

h3 {
  font-size: 22;
}

h4 {
  font-size: 20;
}

h5 {
  font-size: 18;
}

h6 {
  font-size: 16;
}

.report-header {
  /* main report title DIV */
  /* nothing so far */
}

.report-header .title {
  /* main report title H element */
  /* nothing so far */
}

.report-header .subtitle {
  /* main report subtitle H's SMALL element */
  /* nothing so far */
}

.report-body {
  /* report body DIV */
  overflow-y: scroll;
}

.report-footer {
  /* report footer DIV */
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.footer-text {
  /* report footer P element */
  /* nothing so far */
}

.left-logo {
  /* left logo DIV */
  /* nothing so far */
}

.right-logo {
  /* right logo DIV */
  /* nothing so far */
}

.left-logo-img, .right-logo-img {
  /* left and right logo IMG elements */
  height: 100px;
}

.rephrase-chart {
  /* chart parent DIV */
  /* nothing so far */
}

.rephrase-chart-canvas {
  /* chart CANVAS */
  /* nothing so far */
}

.rephrase-table-title {
  /* table title H element */
  /* nothing so far */
}

.rephrase-table {
  /* table TABLE element */
  /* nothing so far */
}

.rephrase-table-row {
  /* any kind of table TR element */
  /* nothing so far */
}

.rephrase-table-section-row {
  /* table TR element containing table section caption */
  /* nothing so far */
}

.rephrase-table-data-row {
  /* table TR element containing series data */
  /* nothing so far */
}

.rephrase-table-row-title {
  /* table TD element containing series caption cell */
  /* nothing so far */
}

.rephrase-table-data-cell {
  /* table TD element containing series data cell */
  /* nothing so far */
}

@media (max-width: 639px) {
  /* small screens */
  .left-logo-img, .right-logo-img {
    height: 75px;
  }
  h1 {
    font-size: 24;
  }
  h2 {
    font-size: 22;
  }
  h3 {
    font-size: 20;
  }
  h4 {
    font-size: 18;
  }
  h5 {
    font-size: 16;
  }
  h6 {
    font-size: 14;
  }
}

@media print {
  .report-content {
    overflow: visible !important;
    /* width: 1024px !important; */
  }
  .report-body {
    overflow: visible;
    width: 1024px !important;
  }
  .report-footer {
    display: none;
  }
  .rephrase-chart-canvas {
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto!important;
    width: auto!important;
  }
  @page {
    size: landscape;
    margin: 1.0cm;
    /* @top-center {
      content: element(report-header);
    }
    @bottom-center {
      content: element(report-footer);
    }
    @bottom-right {
      content: counter(page) " of " counter(pages);
    } */
  }
}