body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 300;
  font-family: 'Lato';
  font-style: normal;
}

h1, .h1 {
  font-size: 31px;
}

h2, .h2 {
  font-size: 25px;
}

h3, .h3 {
  font-size: 22px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}

.report-content {
  /* report container DIV */
  /* nothing so far */
}

.report-header {
  /* main report title DIV */
  /* nothing so far */
}

.report-header .title {
  /* main report title H element */
  /* nothing so far */
}

.report-header .subtitle {
  /* main report subtitle H's SMALL element */
  /* nothing so far */
}

.report-body {
  /* report body DIV */
  overflow-y: auto;
  padding: 0 5%;
}

.report-footer {
  /* report footer DIV */
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.footer-text {
  /* report footer P element */
  /* nothing so far */
}

.left-logo {
  /* left logo DIV */
  /* nothing so far */
}

.right-logo {
  /* right logo DIV */
  /* nothing so far */
}

.left-logo-img, .right-logo-img {
  /* left and right logo IMG elements */
  height: 100px;
}

.rephrase-chart {
  /* chart parent DIV */
  /* nothing so far */
}

.rephrase-chart-canvas {
  /* chart CANVAS */
  /* nothing so far */
}

.rephrase-table-parent {
  /* table parent DIV */
  /* nothing so far */
}

.rephrase-table-title {
  /* table title H element */
  padding-top: 50px;
}

.rephrase-table {
  /* table TABLE element */
  /* nothing so far */
}

.rephrase-table-header {
  /* table THEAD element */
  /* nothing so far */
}

.rephrase-table-body {
  /* table TBODY element */
  /* nothing so far */
}

.rephrase-table-header-row {
  /* table THEAD's TR element */
  /* nothing so far */
}

.rephrase-table-header-cell {
  /* table THEAD's TH element */
  /* nothing so far */
}

.rephrase-table-row {
  /* any kind of table TR element */
  /* nothing so far */
}

.rephrase-table-heading-row {
  /* table TD element containing table heading row */
  /* nothing so far */
}

.rephrase-table-data-row {
  /* table TR element containing series data */
  /* nothing so far */
}

.rephrase-table-data-row-title {
  /* table TD element containing series caption cell */
  font-weight: 700;
  background: #f8f8f8;
}

.rephrase-table-data-cell {
  /* table TD element containing series data cell */
  /* nothing so far */
}

.rephrase-grid-title {
  /* grid title H element */
  padding-top: 50px;
}

.rephrase-grid {
  /* parent DIV of the report grid */
  /* nothing so far */
}

.page-break {
  display: none;
}

@media (max-width: 639px) {
  /* small screens */
  .left-logo-img, .right-logo-img {
    height: 75px;
  }
  h1, .h1 {
    font-size: 24px;
  }
  h2, .h2 {
    font-size: 22px;
  }
  h3, .h3 {
    font-size: 20px;
  }
  h4, .h4 {
    font-size: 18px;
  }
  h5, .h5 {
    font-size: 16px;
  }
  h6, .h6 {
    font-size: 14px;
  }
  body {
    font-size: 14px;
  }
}

@media print {
  .report-content {
    overflow: visible !important;
    /* width: 1024px !important; */
  }
  .report-body {
    overflow: visible;
    width: auto !important;
  }
  .report-footer {
    display: none;
  }
  .rephrase-table-parent {
    overflow: visible !important;
    max-width: 100%;
    width: auto!important;
  }
  .rephrase-chart-canvas {
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto!important;
    width: auto!important;
  }
  .rephrase-grid {
    width: auto!important;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    /* this is to be agreed */
    break-inside: avoid;
    page-break-inside: avoid;
  }
  .rephrase-grid {
    /* exact combination to be figured out */
    /* break-before: always;
    page-break-before: always;
    break-after: avoid;
    page-break-after: avoid; */
  }
  .rephrase-table-title {
    break-after: avoid;
    page-break-after: avoid;
  }
  .page-break {
    display: block!important;
    /* `break-before` should come as a replacement of 
    `page-break-before` in the newer browsers */
    break-before: always!important;
    /* though this one is outdated but the only working one */
    page-break-before: always!important;
    /* clear: both!important; */
  }
  @page {
    size: landscape;
    margin: 1.0cm;
    /* @top-center {
      content: element(report-header);
    }
    @bottom-center {
      content: element(report-footer);
    }
    @bottom-right {
      content: counter(page) " of " counter(pages);
    } */
  }
}