
body { font-family: sans-serif;
       margin: 2%; }

/* __Top Level Elements__ */

div.Report,
div.Table, 
div.Figure { page-break-inside: avoid;
             margin-bottom: 3em; }

/* __Tables__ */

table { border-collapse: collapse;
        border-top: 2px solid;
        border-bottom: 2px solid; }

td {  margin: 0px;
      padding: 0.2em 0.3em 0.2em 0.3em; }

td.DateRow { border-bottom: 1px solid; }

td.DateRow, td.Data { text-align: right; }

td.Subheading { font-weight: bold; }

td.Highlight { background-color: #ddd; }

td.VlineAfter { border-right: 1px solid }

td.VlineBefore { border-left: 1px solid }

/* __Figures__ */

div.Image { margin: 0px;
            padding: 0px;
            overflow: hidden; }

img { margin: 0px;
      padding: 0px; }

