

.md-grid {
    max-width: 90rem;
}

.md-sidebar {
    width: 15rem;
}

.md-header__title {
    font-size: 1.2rem;
}

mark.critic {
    background-color: var(--md-default-bg-color);
    color: var(--md-default-fg-color--light);
    font-weight: bold;
}

blockquote {
    font-size: 85%;
}

.md-typeset {
    color: #394A58;
    font-size: 0.7rem;
}

.md-typeset ul {
    list-style-type: square;
}

.md-typeset code {
    font-size: 95%;
}

.md-tabs__item a.md-tabs__link {
    font-size: 0.85rem;
}

.md-typeset table:not([class]),
.md-typeset__table td,
.md-typeset__table th {
    font-size: 100%; 
    line-height: 1.2;
}

.md-typeset__table code {
    font-size: 95%;
    line-height: 1.2;
}

.md-typeset h1 {
    /* font-size: 1.6em; */
    font-size: 1.6em;
    font-weight: bold;
}

.md-typeset h2 {
    /* font-size: 1.4em; */
}

.md-typeset h3 {
    margin-top: 4em;
    /* font-style: italic; */
    /* font-size: 1.1em; */
}


