
body { font-family: sans-serif;
       color: #444;
       margin: 2%; }


/* __Top Level Elements__ */

div.Report,
div.Table, 
div.Matrix, 
div.Figure { page-break-inside: avoid;
             padding-bottom: 3em; }

.PageBreakAfter { page-break-after: always; 
                  border-bottom: 0.5px dotted; }


/* __Tables and Matrices__ */

table { border-collapse: collapse;
        border-top: 2px solid;
        border-bottom: 2px solid; }

th { border-bottom: 1px solid;
     font-weight: normal; }

td { border-bottom: 1px solid #ccc; }

th, td {  padding: 0.3em 0.3em 0.3em 0.3em;
          text-align: right; }

td.RowName,
td.Subheading { text-align: left; }

td.Subheading { font-weight: bold;
                padding-top: 10px;
                padding-bottom: 10px; }

th.Highlight,
td.Highlight { background-color: #ddd; }

th.VlineAfter,
td.VlineAfter { border-right: 1px solid #999; }

th.VlineBefore,
td.VlineBefore { border-left: 1px solid #999; }


/* __Figures__ */

div.Image { margin: 0px;
            padding: 0px;
            overflow: hidden; }

img { margin: 0px;
      padding: 0px; }


/* __Footnotes __ */

sup.FootnoteMark { font-size: 60%;
                   font-weight: normal; }

div.Footnotes { font-size: 80%; }

